.footer {
  color: #fff;
  height: 300px;
  background-color: rgba(218, 159, 91,0.5);
  position: relative;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footerWrap {
  @apply container mx-auto grid grid-cols-3 gap-3;
  text-align: center;
}
.footerWrap h3 {
  color: rgb(227, 145, 82);
  margin-bottom: 15px;
  font-size: 25px;
}
.footerWrap ul {
  list-style: none;
}
.footerWrap li {
  margin-bottom: 10px;
}
